<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="progress-bar.css"/>
    <link rel="stylesheet" href="items-details.css">
  </head>
  <body class="bg-light" >
    <div class="container p-3">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="container-progress">
            <ul class="progressbar">
              <li class="active">Customer</li>
              <li class="active">Items</li>
              <li>Summary</li>
            </ul>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10 pt-5">
          <table class="table table-striped border rounded bg-white">
            <thead>
              <tr>
                <th scope="col">Product Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
              <tr>
                <td class="width-15"><%= item[:product_code] %></td>
                <td class="width-45"><%= item[:name] %></td>
                <td class="width-10" ><%= item[:price] %></td>
                <td class="width-10" ><%= item[:quantity] %></td>
                <td class="width-10" ><%= item[:total] %></td>
                <td class="width-10" >
                  <form method="POST" action="/item-delete/<%= item[:id] %>"><button class="btn btn-danger pt-1 pb-1 float_right">Delete</button></form>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="float-right p-3">
            <h6> Net Total: £<%= @net_total %> </h6>
            <h6> VAT: £<%= @vat %> </h6>
            <h6>
              <form method="POST" action="/shipping-total" id="shipping-total">
              
              <label for="shipping-total">Shipping Total<span class="text-danger">*</span></label>
                <% if @order_errors.include?(:missing_shipping_total) || @order_errors.include?(:invalid_shipping_total)%>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="shipping-total" name="shipping_total" class="form-control is-invalid"/>
                <% elsif @order.nil? %>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="shipping-total" name="shipping_total" class="form-control"/>
                <% else %>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="shipping-total" name="shipping_total" class="form-control" value="<%= @order[:shipping_total]%>"/>
                <% end %>
                
              </form>
            </h6>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <% unless @errors.empty?%>
            <div class="alert alert-danger" role="alert">
              *All fields are required.
            </div>
            <% end %>
          <form method="POST" action="/items-details" id="new-row">
            <div class="form-row">
              <div class="p-1 pl-3 width-14">
                <% if @errors.include?(:missing_product_code)%>
                <input autofocus type="text" id="product-code" name="product_code" class="form-control is-invalid" placeholder="Product Code"/>
                <% elsif @item_row.nil? %>
                <input autofocus type="text" id="product-code" name="product_code" class="form-control" placeholder="Product Code"/>
                <% else %>
                <input autofocus type="text" id="product-code" name="product_code" class="form-control" value="<%= @item_row[:product_code]%>"/>
                <% end %>
              </div>
              <div class="p-1 width-45">
                <%if @errors.include?(:missing_name)%>
                <input type="text" id="name" name="name" class="form-control is-invalid" placeholder="Name"/>
                <% elsif @item_row.nil? %>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name"/>
                <% else %>
                <input type="text" id="name" name="name" class="form-control" value="<%= @item_row[:name]%>"/>
                <% end %>
              </div>
              <div class="p-1 width-10">
                <% if @errors.include?(:missing_price) || @errors.include?(:invalid_price)%>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="price" name="price" class="form-control is-invalid" placeholder="Price"/>
                <% elsif @item_row.nil? %>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="price" name="price" class="form-control" placeholder="Price"/>
                <% else %>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="price" name="price" class="form-control" value="<%= @item_row[:price]%>"/>
                <% end %>
              </div>
              <div class="p-1 width-11">
                <%if @errors.include?(:missing_quantity) || @errors.include?(:invalid_quantity)%>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="quantity" name="quantity" class="form-control is-invalid" placeholder="Quantity"/>
                <% elsif @item_row.nil? %>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="quantity" name="quantity" class="form-control" placeholder="Quantity"/>
                <% else %>
                <input type="text" pattern="^[0-9]+(\.[0-9]+)?$" id="quantity" name="quantity" class="form-control" value="<%= @item_row[:quantity]%>"/>
                <% end %>
              </div>
              <div class="pl-5 pt-1 width-20">
                <button type="submit" class="btn btn-primary float_right width-70">Add</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col p-4 pb-5">
          <a role="button" href="/customer-details" class="btn btn-secondary ml-3">Back</a>
          <button type="submit" form="shipping-total" class="btn btn-primary float-right mr-3">Next</button>
        </div>
      </div>
    </div>
  </body>
</html>
